div {
    width: 600px;
    height: 600px;
    background-color: bisque;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 0px 20px rgb(255, 170, 66) inset;
    margin: 20px;
    padding: 20px;
}

table,
td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: fantasy;
    border-spacing: 15px;
    border-collapse: collapse;
}

button {
    height: 100px;
    width: 100px;
    border: none;
    font-size: 40px;
    font-family: fantasy;
    outline: none;
    line-height: 50px;
    border-radius: 30%;
    margin: 10px 0px 0px 0px;

}

.num {
    background-color: bisque;
    background-image: url("../img/003.png");
    background-size: contain;
    padding: 30px 0px 0px 0px;
}

.operator {
    background-color: bisque;
    background-image: url("../img/001.png");
    background-size: contain;
    padding: 30px 0px 0px 0px;
}

.screen {
    border: none;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
    width: 450px;
    border-radius: 0px 0px 20px 20px;
    background-color: pink;
    text-align: center;
    padding: 0px 20px 0px 0px;
}
#formula{
    font-size: 30px;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
}

.clear {
    background-image: url("../img/014.png");
    background-size: contain;
    border-radius: 40%;
    padding: 18px 0px 0px 0px;
    background-color: bisque;
}

#result {
    background-image: url("../img/014.png");
    background-size: cover;
    border-radius: 40%;
    padding: 18px 0px 0px 0px;
    background-color: bisque;

}

button:active {
    /* box-shadow: 2px 2px 12px #969393 inset; */
    position: relative;
    top: 5px;
    /* box-shadow: 0 0 15px #969393; */
}